/* COLORS */

$color-main-dark: rgb(48, 148, 116);
$color-main-medium: rgb(155, 197, 109);
$color-main-light: rgb(208, 228, 151);

$color-background-light: rgb(253, 253, 242);
$color-background-transparent: rgba(247, 255, 221, 0.9);

//$color-black: rgb(127, 77, 56);
$color-black: $color-main-dark;
$color-white: rgb(248, 255, 248);
$color-true-white: rgb(255, 255, 255);
$color-light-grey: rgb(190, 190, 190);

$color-error: rgb(158, 14, 19);
$color-success: $color-main-light;

$color-field-background: $color-true-white;
$color-field-border: $color-light-grey;
$color-field-placeholder: $color-light-grey;

/* MEASURES */

$gap-double: 40px;
$gap-normal: 20px;
$gap-half: 10px;
$gap-tiny: 6px;

$element-height: 40px;
$nav-item-height: 60px;
$element-height-double: 80px;

$border-radius: 12px;

$button-width: 120px;
$button-height: $element-height;

$input-height: $element-height;
$image-input-height: $element-height-double * 2;

/* FONT SIZE */

$font-size-title: 32px;
$font-size-normal: 16px;
$font-size-small: 16px;
$font-size-button: 15px; // only used with text-transform: uppercase

/* Z-INDEX */

$z-index-alerts: 6;
$z-index-popups: 5;
$z-index-actionbar: 4;

/* ICONS */

$icon-image: "\e90d";
$icon-back: "\e967";
$icon-trash: "\e9ad";
$icon-earth: "\e9ca";
$icon-plus: "\ea0a";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-round-arrows: "\ea2e";
