$color-main-dark: rgb(28, 82, 83);
$color-main-medium: rgb(76, 170, 83);
$color-main-light: rgb(195, 221, 48);

$color-background-light: rgb(247, 255, 221);
$color-background-transparent: rgba(247, 255, 221, 0.9);

$color-black: rgb(0, 0, 0);
$color-white: rgb(248, 255, 248);
$color-light-grey: rgb(230, 230, 230);
$color-medium-grey: rgb(180, 180, 180);

$color-error: rgb(158, 14, 19);
$color-success: $color-main-light;

$color-field-background: $color-white;
$color-field-border: $color-light-grey;
$color-field-placeholder: $color-medium-grey;
