$color-main-dark: rgb(28, 82, 83);
$color-main-medium: rgb(76, 170, 83);
$color-main-light: rgb(195, 221, 48);

$color-background-light: rgb(247, 255, 221);

$color-black: rgb(0, 0, 0);
$color-light-grey: rgb(210, 210, 210);

$font-weight-bold: 600;

$color-field-border: $color-light-grey;
