.action-bar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $z-index-actionbar;

  display: flex;
  flex-direction: column;

  height: 100%;
  width: $button-width + $gap-normal;
  padding: $gap-wide $gap-half;

  .button {
    margin-top: $gap-half;
  }
}
