.action-bar {
  position: fixed;
  top: $gap-normal;
  right: $gap-half;
  z-index: $z-index-actionbar;

  display: flex;
  flex-direction: column;

  height: calc(100% - #{$gap-double});
  width: $button-width;
  padding: $gap-half 0;

  .button {
    margin-top: $gap-half;
  }
}
