.button {
  align-self: flex-end;
  margin-top: 10px;
  height: 40px;
  width: 120px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: $color-background-light;
  color: $color-main-dark;
  @include box-shadow;

  &:first-of-type {
    margin-top: 0;
  }

  &:hover {
    color: $color-main-dark;
    background-color: $color-main-light;
    cursor: pointer;
  }
}

.button--cta {
  color: $color-background-light;
  background-color: $color-main-dark;
}

.nav__element.button__nav {
  height: 40px;
  padding: 10px;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;

  &:hover {
    color: $color-main-dark;
    background-color: $color-background-light;
  }
}

.nav__element.button__nav--page {
  color: $color-background-light;
  background-color: $color-main-medium;
}

.nav__element.button__nav--section {
  color: $color-main-dark;
  background-color: $color-main-light;;
}
