.editor {
  flex-basis: auto;
  flex-grow: 1;
  padding: 20px 120px 20px 20px;
  background-color: $color-background-light;
  border: 20px solid $color-main-dark;
  border-left: none;
}

.editor--page {
  border-color: $color-main-medium;
}

.editor--section {
  border-color: $color-main-light;
  border-left: 20px solid $color-main-light;
}

.editor--main .form {
  max-width: 680px;
}

.editor--section::after {
  @include wipe-animation($color-main-light, 60);
}

.editor__title {
  margin-top: 0;
}

.editor__hint {
  margin-top: 0;
  margin-bottom: 20px;
  color: $color-main-dark;
}
