.editor {
  flex-basis: auto;
  flex-grow: 1;

  padding: $gap-normal $button-width $gap-normal $gap-normal;
  border: $gap-normal solid $color-main-dark;
  border-left: none;
  overflow-y: scroll;

  background-color: $color-background-light;
}

.editor--level-2 {
  border-color: $color-main-medium;
}

.editor--level-3 {
  border-color: $color-main-light;
  border-left: $gap-normal solid $color-main-light;
}

.editor--level-1 .form {
  max-width: 680px;
}

.editor--section::after {
  @include wipe-animation($color-main-light, 60);
}

.editor__title {
  margin-top: 0;
  font-size: $font-size-title;
}
