.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
}

.form__element {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form__label {
  flex-basis: 40%;
  line-height: 20px;
}

.form__field {
  flex-basis: 60%;
  height: 24px;
  border: 1px solid $color-field-border;
  padding: 0 6px;
  background-color: white;
}

.form__field--textarea {
  height: 72px;
  padding: 4px 6px;
}
