.form {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  max-width: 600px;
  margin: $gap-normal $gap-normal $gap-normal 0;
}

.form__element {
  display: flex;
  justify-content: space-between;
  margin-bottom: $gap-normal;
}

.form__element--markdown {
  flex-direction: column;
}

.form__label {
  width: 40%;
  margin: $gap-tiny $gap-half 0 0;
}

.form__field {
  width: 60%;
  height: $input-height;
  padding: 0 $gap-tiny;
  border: 1px solid $color-field-border;

  background-color: $color-field-background;
  font-size: $font-size-small;

  &::placeholder {
    color: $color-field-placeholder;
  }

  &--textarea {
    height: $element-height-double;
    padding: $gap-tiny;
  }
}

.form__buttons {
  display: flex;
  justify-content: flex-end;

  .button {
    margin-left: $gap-half;
  }
}

.form__field--image {
  position: relative;

  height: $image-input-height;
  min-width: 120px;
  padding: 0;
  border: none;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  line-height: $image-input-height;
  text-align: center;

  cursor: pointer;

  &.placeholder {
    color: $color-field-placeholder;
    border: 1px dashed;

    &:hover {
      color: $color-main-dark;

      &::after {
        content: '';
        height: 0;
      }
    }
  }

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    height: 0;
    width: 100%;

    background-color: $color-white;
    opacity: 0.8;

    transition: height .2s;
  }

  &:hover {
    &::after {
      content: 'Change image';
      height: 100%;
    }
  }
}
