.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $color-main-dark;
  color: $color-background;
}

.login .button {
  color: $color-main-dark;
  background-color: $color-main-light;
}
