.nav {
  flex-basis: 20%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  max-width: 220px;
}

.nav--page {
  background-color: $color-main-dark;
}

.nav--section {
  background-color: $color-main-medium;
}

.nav--section::after {
  @include wipe-animation($color-main-medium, 80);
}

.nav__element {
  @include box-shadow;

  flex-basis: 72px;

  margin: 0 20px 20px 20px;
  padding: 20px;
  border: none;
  border-radius: 0;

  color: $color-main-dark;
  background-color: $color-background-light;
  font-size: 14px;
  font-weight: $font-weight-bold;
  text-decoration: none;
  text-align: center;
  transition: color .2s, background-color .2s, margin-right .2s;
}

.nav__element:first-child {
  margin-top: 20px;
}

.nav__element:hover {
  cursor: pointer;
}

.nav__element--page:hover {
  color: $color-background-light;
  background-color: $color-main-medium;
}

.nav__element--section:hover {
  background-color: $color-main-light;
}

.nav__element--page.nav__element--selected {
  background-color: $color-main-medium;
}

.nav__element--section.nav__element--selected {
  background-color: $color-main-light;
}

.nav__element--selected {
  margin-right: 0;
}
