.nav {
  position: relative;
  width: 20%;
  min-width: 200px;
  overflow-x: hidden;

  & :first-child {
    margin-top: $gap-normal;
  }
}

.nav--level-1 {
  background-color: $color-main-dark;

  .nav__element:hover {
    color: $color-background-light;
    background-color: $color-main-medium;
  }

  .nav__element--selected {
    background-color: $color-main-medium;
  }

  .button--nav {
    color: $color-background-light;
    background-color: $color-main-medium;
  }
}

.nav--level-2 {
  background-color: $color-main-medium;

  .nav__element:hover {
    background-color: $color-main-light;
  }

  .nav__element--selected {
    background-color: $color-main-light;
  }

  .button--nav {
    color: $color-main-dark;
    background-color: $color-main-light;;
  }

  &::after {
    @include wipe-animation($color-main-medium, 80);
  }
}

.nav__element {
  @include box-shadow;

  display: block;

  height: $nav-element-height;
  margin: 0 $gap-normal $gap-normal $gap-normal;
  padding: $gap-normal;

  border: none;
  border-radius: 0;
  overflow: hidden;

  color: $color-main-dark;
  background-color: $color-background-light;

  font-size: $font-size-small;
  line-height: 2.5;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;

  transition: color .1s, background-color .1s, margin-right .2s;
  cursor: pointer;
}

.nav__element--selected {
  margin-right: 0;
}
